:root {
  --headfontcol: lightgrey; /*header font color*/
  --mainfontcol: grey; /*primary font color*/
  --mainfontsz: medium; /*primary font size*/
  --bkcolalt: #171717; /*alternate background color*/
}

body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  /* Basic paragraph format */
    font-size: var(--mainfontsz);
    color: var(--mainfontcol);
    position: relative;
    left: 1%;
    width:95%;
}

h1{
    font-size: xx-large;
    color: var(--headfontcol);
    font-weight: bold;
}

h2{
    font-size: x-large;
    color: var(--headfontcol);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#mediabox{
  /* images div */
  position: fixed;
  width:48%;
  height:98%;
  left:50%;
  top:0px;
}


#media{
    /* images div */
    position: absolute;
    width:100%;
    height:80%;
    top: 64px;
    margin: 0px;
    border: thin solid black;
    padding: 2px;
}

#mediaimg{
    /* the actual image displayed within the image div */
    margin: 0;
    width:100%;
    height:100%;
    position: absolute;
    object-fit:contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mediahead{
    /* Menu bar above image */
    top:0px;
    height:64px;
    background-color: var(--bkcolalt);
}

#mediafoot{
    /* Menu bar below image */
    position:absolute;
    bottom:0px;
    width:100%;
    height:64px;
    background-color: var(--bkcolalt);
}

#report{
    /* the container div displaying the report */
    width:48%;
    height:100%;
}

#history{
  /* provided history */
    position: relative;
    left: 1%;
    margin: 0px;
    border: 2px solid #151515;
    padding: 2px;
    background-color: var(--bkcolalt);
}

#oneliner{
  /* useful history */
    position: relative;
    left: 1%;
}

#findings{
  /* findings */
    position: relative;
    left: 1%;
    margin: 0px;
    border: 2px solid #151515;
    padding: 2px;
    background-color: var(--bkcolalt);
}

#impression{
  /* impression */
    position: relative;
    left: 1%;
}
